<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<window>
	<id>4</id>
	<defaultcontrol>10001</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<define>#header.background:hover_settings.png</define>
<controls>

        <control>
            <description>Background</description>
            <type>image</type>
            <id>1</id>			
            <posX>0</posX>
            <posY>0</posY>
            <width>1366</width>
            <height>768</height>
            <texture>background.png</texture>
			<visible>!string.contains(#maya.backgroundImage,yes)</visible>			
        </control>
		
		<control>
			<description>Fanart Background</description>
			<type>image</type>
			<id>0</id>
			<posX>0</posX>
			<posY>0</posY>
			<width>1366</width>
			<height>768</height>
			<texture>#header.background</texture>	
			<visible>string.contains(#maya.backgroundImage,yes)</visible>
		</control>

		<control>
			<description>Fanart Overlay</description>
			<type>image</type>
			<id>0</id>
			<posX>0</posX>
			<posY>0</posY>
			<width>1366</width>
			<height>768</height>
			<texture>basichome_fanart_overlay.png</texture>
			<visible>string.contains(#maya.backgroundImage,yes)</visible>
		</control>
		
<import>settings.menu.xml</import>
</controls>
</window>
